.client-list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    & .item {
      margin-bottom: 30px;
    }

    & .item:nth-child(2n + 1) {
      margin-right: 30px;
    }
    & .item:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    & .item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.client-link {
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 210px;
    height: 90px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
  }
  transition: color 250ms $transition-timing-function,
    border 250ms $transition-timing-function;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: #afb1b8;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.client {
  fill: currentColor;
  &:hover,
  &:focus {
    fill: currentColor;
  }
}
