.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;

  transition: opacity 250ms $transition-timing-function;

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $transition-timing-function;
  width: 528px;
  height: 581px;

  padding: 40px;

  background-color: $white-color;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.feedback {
  margin-right: auto;
  margin-left: auto;
}
.feedback-text {
  display: block;

  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.form-feild {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  position: relative;
  color: $prime-text-color;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: currentColor;
}
.feedback-input:focus ~ .input-icon {
  fill: $accent-color;
}
.feedback-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms $transition-timing-function;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.feedback-input {
  padding-left: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.feedback-input:focus + .feedback-label,
.feedback-input:not(:placeholder-shown) + .feedback-label {
  transform: translateX(-17px) translateY(-37px);
  color: $accent-color;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.feedback-input:focus {
  border: 1px solid $accent-color;
  outline: none;
}

.comment-feild {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}
.comment-label {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 250ms $transition-timing-function;
  padding: 12px 16px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.comment-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.comment-input:focus + .comment-label,
.comment-input:not(:placeholder-shown) + .comment-label {
  transform: translateY(-30px);
  color: $accent-color;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.comment-input:focus {
  border: 1px solid $accent-color;
  outline: none;
}
.checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-icon {
  display: inline-block;

  margin-right: 8px;

  width: 16px;
  height: 15px;
  border: 2px solid $prime-text-color;
  border-radius: 4px;
}
.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: $accent-color;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.checkbox-link {
  color: $accent-color;
}
.policy-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text-color;
}
