.works {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-title {
  text-align: center;
}
.card-img {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  transition: transform 250ms $transition-timing-function;

  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
}

.works-list {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }
  .item {
    transition: box-shadow 250ms $transition-timing-function;
    width: 100%;
    margin-bottom: 30px;
    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
        0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
    @media screen and (min-width: 768px) {
      width: calc((100% / 2));
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% / 3));
    }
  }.\
}

.works-list .item:nth-child(3n) {
  margin-right: 0;
}
// .works-list .item:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }
.works-list .title {
  margin-top: 20px;
  margin-bottom: 4px;

  color: $prime-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.works-list p {
  margin-top: 0;
  margin-bottom: 20px;

  color: $second-text-color;
  font-size: 16px;
  line-height: 1.87;
}
.works-list a {
  text-decoration: none;
}
.works-list img {
  display: block;
}
.works-list .item:hover .card-overlay {
  transform: translateY(0);
}

.card-overlay .discription {
  padding: 63px 24px;
  color: $white-color;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.card-content {
  padding-right: 20px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}
