.team {
  background-color: #f5f4fa;
}
.team-list {
  & .item {
    background-color: $white-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }
  @media screen and (max-width: 767px) {
    & .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    & .item:nth-child(2n + 1) {
      margin-right: 30px;
    }
    & .item:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    & .item:not(:last-child) {
      margin-right: 30px;
    }
  }
  & .title {
    margin-top: 30px;
    margin-bottom: 10px;

    color: $prime-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
  & p {
    margin-top: 0;
    margin-bottom: 16px;

    color: var(--second-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
}
